*{
    padding: 0;
    margin: 0;
}

html{
    height: 800px;
    overflow-x:hidden
}

::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(left, #fcacac, #350c0c);
    border-left:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

body{
    background: rgba(192, 99, 99, 0.59);
    z-index: -1;
    height: 2100px;
    overflow-x: hidden;
}

input:placeholder-shown{

    padding-left: 20px;
    font-size: 15px;
}

#pai{
   
    position: flex;
    margin-left: 100px;
    margin-top: 28%;
}

.container-fluid{
    position: fixed;
    background-color: #350C0C!important;
    z-index: 2;
    top: 0.02%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.form-control me-2{
    border-radius: 35px!important;
}
.navbar-brand{
    font-family: 'Shrikhand'!important;
    font-style: italic;
    font-weight: 400;
    font-size: 37px;
    line-height: 54px;  
    color: #C06363;

}

#pesquisa{
    border-radius: 35px;
    
}
#pesquisa::placeholder{
    border:2px #C06363;
}

button{
    color: #350C0C !important;
    border:1px solid #C06363!important;
    background-color: rgb(255, 255, 255)!important;
    border-radius: 15px!important;
}

.navbar-brand::placeholder{
    color: #fff;
}

#cx_logos{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-flow: row wrap; 
    padding-left: -15%;
    margin-top: 10%;
}

h6{
    display: flex;
    justify-items: center;
    text-align: center;
    flex-flow: row wrap; 
    left: 24.3%;
    font-family: 'Staatliches';
    color:#350C0C;
    margin-left: 17%;
}

.fundo_logo{
    background-color: #D9D9D9;
    width: 19vw;
    border-radius: 50%;
    padding: 13%;
    border:2px solid #350C0C;
    cursor: pointer;
}


#taquara{
    position: absolute;
    display: flex;
    top: 44.93%;
    left: 10%;
    bottom: 71.38%;    
    max-width: 80%;
    margin: 2%;   
    border-radius: 25px; 
    margin-top: 5%;
    margin-bottom: 6%;
    justify-content: center;
}
#cx_users{
    margin-top: 155%;
    display:flex;
    margin: 5%;
    position: absolute;
    align-items: center;
    left: 8%;
    top: 115.93%;
    bottom: 71.38%;    
    max-width: 80%;
    flex-flow: row wrap;
    justify-content: center;
}

#tipo_grid{
    display: grid;
    
}

h4{
    text-align: center;
}
.sem_ft img{
    height: 15vh;
    border-radius:50% ;
    margin: auto;
    cursor: pointer;
}

h1{
    display: flex;
    border-radius: 35px;
    position: absolute;
    width: 243px;
    height: 37px;
    left: 19%;
    top: 110%;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    justify-content: center;  
}

footer{
    width: 105px;
    
}

#menu{
    z-index: 2;
    position: fixed;
    width: 110%;
    height: 97px;
    background-color: #350C0C;
    left: -5%;
    top: 90%;
    bottom: 54%;
    
}
ul{
    
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    list-style: none;
    margin-left: -9%;
}

li{
    
    margin-left: -24px;
    color: #FCACAC; 
    
}

li a{
    margin-left: 59%;
    text-decoration: none;
    color: #D9D9D9;
}

li a:hover{
    color: #C06363;
}

.seletor img{
    margin: 0%;
    height: 5vh;
    color: #D9D9D9!important;
    margin-top: 25%;
    margin-left: 55%;
    background-color: #fff;
    padding: 10%;
    border-radius: 50%;    
}

.seletor img:hover{
    background-color: #FCACAC;
    padding: 10%;
    border-radius: 50%;
    border:3px solid #D9D9D9;
}

li #inicio{
    top:50%;
    bottom:25%;
    left:0%;
    right: 25%;
}
li #viagens{
    top:50%;
    bottom:25%;
    left:0%;
    right: 25%;
}
li #social{
    top:50%;
    bottom:25%;
    left:0%;
    right: 25%;
}